header{
  padding-left: 300px;
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: hsla(190, 100%, 35%, 1);
}
.h1-header{
  font-size: 75px;
  font-family: Arial;
  color: hsla(0, 0%, 95%, 1);
}

.p-header{
  font-size: 40px;
  font-family: Arial;
  color: hsla(0, 0%, 95%, 1);
  font-style: italic;
}

nav{
    padding-top: 1px;
    padding-left: 280px;
    background-color: hsla(0, 1%, 87%, 1);
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    color: hsla(0, 0%, 20%, 1);

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 25px;

}

.li-menu{
  display: inline;
  padding-right: 20px;
}

.li-rates{
  padding: 25px;
  font-size: 25px;
  font-family: Arial;
  font-weight: bold;
  margin-left: auto;
}

a{
  color: hsla(0, 0%, 20%, 1);
  text-decoration: none;
}
.a-aside{
  font-size: 20px;
  font-family: arial;
  color: hsla(204, 100%, 50%, 1);
  text-decoration: none;
}
.main-section{
  display: flex;
}
mark{
    color: hsla(195, 100%, 35%, 1);
    background-color: inherit;
}

/*---------------- A11Y Features ----------------------------------------------------*/
nav a{
  padding: 0.6rem;
  margin: 0.6rem;
}

.hide-skip-link{
  position: relative;
  left: -10000px;
  top: auto;
}

.hide-skip-link:focus{
  left: 0;
}

.sr-only{
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/*----------------------------article and aside layout Styling----------------------*/
.main-section-content-box {
        margin-left: 300px;
        /*height: 900px;*/
        width: 800px;
        padding-top: 70px;
        padding-bottom: 80px;
        padding-right: 100px;
        /*border: 2px solid;*/

}

.aside-content-box {
        margin-right: 100px;
      /*  height: 900px; */
        width: 350px;
        padding-top: 80px;
        padding-bottom: 80px;
        /*border: 2px solid;*/
      }

.main-content-box{
  float: left;
}
.aside-content-box{
  float: right;
}

.clearfix::after{
  content:"";
  display: block;
  clear: both;
}

/*-----------------------end of article and aside layout styling -------------------- */

.h3-article1{
  font-size: 24px;
  font-family: arial;
  color: hsla(195, 100%, 35%, 1);
}
.h3-article2{
  font-size: 27px;
  font-family: arial;
}

.p-article{
  font-size: 18px;
  font-family: arial;
  padding-bottom: 20px;
  line-height: 1.6;
}
.h3-aside{
  font-size: 27px;
  font-family: arial;
}
.h3-aside-2{
  padding-top: 20px;
  font-size: 27px;
  font-family: arial;
}
.p-aside{
  padding-top: 5px;
  font-size: 18px;
  font-family: arial;
  line-height: 1.6;
}

.figure-aside{
  margin-left: 1px
}
.p-quote{
  padding-top: 50px;
  font-size: 28px;
  font-family: arial;
  color: hsla(195, 100%, 35%, 1);
  padding-bottom: 50px;
}

footer{
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: hsla(0, 0%, 20%, 1);
  text-align: center;
}

.nav-footer{
  background-color: hsla(0, 0%, 20%, 1);
  padding-left: 1px;
  font-size: 15px;
}

.a-footer{
  color: hsla(0, 0%, 95%, 1);
  text-decoration: none;
}

.li-footer{
  display: inline;
  padding-right: 20px;
  color: hsla(0, 0%, 95%, 1);
}

.p-footer{
  color: hsla(0, 0%, 95%, 1);
  font-size: 20px;
}
